<!DOCTYPE html>
<html lang="en">
  <head>


<link rel="shortcut icon" type="image/ico" href="flag.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta charset="UTF-8">

</head>

<script src="javascripts/Macon.js"></script>

<body onload="usersChange()">

<div id="MercHome" class="Merc tabcontent">
  <p><font size='6'><font face="times new roman">Mercedes-Benz</font></font><br>
    <font size='2'><font face="times new roman">The best or nothing.</font></font></p>
    <br>
    <div id="edit" contenteditable="true">
      <p><font color="white">The W212 replaced the W211 in 2009 (as a 2010 model). Official photos of the W212 were leaked on the internet on 9 December 2009 ahead of its 2009 Geneva Motor Show unveiling. Scans of a leaked brochure were posted onto the internet in January 2009, detailing the whole E-Class range including the new E 200 CGI and E 230 CGI with direct injected forced inducted engines. New features included a blind spot monitor, Lane Keeping Assist, Pre-safe with Attention Assist and Night View Assist Plus. In the United States the E-Class was priced nearly US$4,600 less than the previous model. The E-Class coupe is built in Bremen using the W204 C-class platform. The W212 estate was also announced and available from November 2009. The W212 cabriolet was announced 11 January 2010 at the North American International Auto Show for sale in March 2010 in Europe and in May 2010 in the United States.</font></p>
    </div>
    <div id="update">- Add to or edit the above text -</div>
    <input id="edi"type="button" value="Save changes" onclick="usersEdits()"/>
    <br>
    <br>
    <div class='col-sm-5'>
      <img src="images/w212.jpg" class="w3-round" alt="E63 AMG" style="width:700px; height:300px;">
      <p id='amg'><font size='4'><i>"The Mercedes-AMG 43 models are developed by AMG engineers to deliver the visceral experience those three letters stand for, and the performance promise they uphold."</i></font></p>
    </div>
  </div>

  </html>
</body>
