<!DOCTYPE html>
<html lang="en">
<head><link rel='stylesheet' href='/stylesheets/style.css' /></head>
<script src="javascripts/Macon.js"></script>

<h2 id="welcomeeuro"><u>Welcome to Euro Sports Luxury</u></h2>

<h1 id="intro">Hello, {{username}}!</h1>

<a href="/logout" id="clogs">Log out</a> <a href="https://www.audiusa.com/models/audi-r8" id="r8"><span class="glyphicon glyphicon-road"></span></a>

</br>
<input type='file' onchange="readURL(this);" id='getval' name="background-image" /></br></br>
<div id='clock'></div>

<h1 id="featurette"><u>Featured video this week</u></h1>

<iframe id="videovid" width="560" height="315" src="https://www.youtube.com/embed/7MJ_WoExzMU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<body>

<form method="POST" action="/add">
<select id="dropp">
  <option value="Audi">Audi</option>
  <option value="BMW">BMW</option>
  <option value="Mercedes">Mercedes</option>
</select>

<select id="drops" name="drops">
  <option value="AudiS6">S6</option>
  <option value="BMWM5">M5</option>
  <option value="MercedesE63">E63</option>
</select>

<!--<p id="addcar">Select brand</p>
<p id="addmodel">Add model</p>
<p id="addmods">Add mods you have</p>
<p id="addpic">Add a pic</p>-->

<textarea wrap="hard" id="modlist" name="modlist" rows="4" cols="50"></textarea>
<button type="submit" id="keep" name="add" value="Save">butt</button>
</form>

</body>
</html>
