<h2>Sign up for an account</h2>


<script src="javascripts/Macon.js"></script>

<form method="POST" action="/signup">
  <font color="white">Username:</font> <input id="username" name="username" placeholder="Enter username"/><br><br>
  <font color="white">Password:</font> <input id="password" type="password" name="password" placeholder="Enter password"/><br><br>
  <font color="white">E-mail:</font>    <input id="email" type="email" name="email" placeholder="Enter E-mail"/>
  <br>
  <button id="submit" onclick="myFunction()">Sign up</button>
</form>

<p><font color="white">If you already have an account, you can </font><a href="/login">Log in here</a>
<p/>
